ELASTIC_HOST=https://vpc-elastic-logs-gmmlsoczfv6cxeswiywibn5xdi.us-east-1.es.amazonaws.com
INDEX=logstash-rsyslog-*
APPLICATIONS=SCHEDULER
TARGETS=org.postgresql.util.PSQLException: ERROR,com.mongodb.MongoTimeoutException: Timed out after 30000 ms while waiting to connect.
LEVEL=ERROR
QUERY_RANGE=now-2h
DISCORD_TOKEN=TOKEN
CHANNEL_ID=CHANNEL_ID
COLLECT_INTERVAL=60s
SQUAD_NAME=SQUAD_NAME